
.h-100 {
  height: 100%;
}

.m-a {
  margin: auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.btn {
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50px;
  vertical-align: middle;
  line-height: 1;
  border: 1px solid transparent;
  font-weight: 700;
  text-align: center;
  transition: background-color 200ms ease-out, border-color 200ms ease-out, box-shadow 200ms ease-out;
}

.btn > i {
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 1.375em;
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.btn-primary:hover {
  box-shadow: #cc4a38 0 0 0 4px;
}

input, textarea, select {
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  border-radius: 0.4rem;
  border: 1px solid var(--text-color-darked);
  transition: border-color 200ms ease-out;
}

input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover
/* input:valid, select:valid, textarea:valid */ {
  border-color: var(--color-primary);
}
/* input:invalid {
  color: red;
} */

.box-tooltips {
  position: absolute;
  bottom: 3rem;
  right: -100%;
  z-index: 10;
  background-color: rgba(66, 64, 64, 0.733);
  padding: 1.2rem 1.5rem;
  border-radius: .6rem 0 0 .6rem;
  box-shadow: 0 .4rem .4rem var(--shadow-color);
  transition: right 300ms ease-out;
}

.box-tooltips.active {
  right: 0;
  animation: hiddenRight 3s ease-out;
}

@keyframes hiddenRight {
  from {
    right: 0;
  }
  50% {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.box-tooltips > i, .box-tooltips > .tooltip-text {
  display: inline;
  color: var(--color-light);
  font-weight: 600;
}

.box-tooltips > i {
  font-size: 2.2rem;
}

.tooltip-text {
  margin-left: 1rem;
}

.tooltip-success {
  background-color: rgba(90, 188, 74, 0.74);
}

.tooltip-danger {
  background: rgba(188, 74, 74, 0.74);
}

.tooltip-warning {
  background: rgba(188, 184, 74, 0.74);
}